@import "varible";

.primary-text {
  color: @mainColor !important;
}

.error-text {
  color: @errorColor !important;;
}

.warning-text {
  color: @warnColor !important;;
}

button[type=primary] {
  background-color: @mainColor;
}

button.button-hover[type=primary] {
  background-color: @activeMainColor;
}

.button {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  text-align: center;
  color: #fff;
  padding: 0;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  text {
    color: #fff;
    font-size: 30px;
    line-height: 1.1;
  }
  &.primary {
    background-color: @mainColor;
  }
  &.warning {
    background-color: @warnColor;
  }
  &.error {
    background-color: @errorColor;
  }
  &.ghost {
    background-color: inherit;
  }
}

.wx-switch-input {
  width: 100px !important;
  height: 60px !important;
}

.wx-switch-input::before {
  width: 98px !important;
  height: 60px !important;
}

.wx-switch-input::after {
  width: 58px !important;
  height: 58px !important;
}

.wa-form-item {
  padding: 24px 0;
  background-color: #FFF;
  color: #333;
  border-bottom: 1PX #e2ecf4 solid;
  .wa-form-item-container {
    display: flex;
    align-items: center;

    .label {
      margin-right: 16px;
      width: 172px;
      font-size: 32px;
      line-height: 1.5;
      vertical-align: middle;
      text-align: left;

    }

    .value {
      flex: 1;
      display: inline-block;
      padding-right: 18px;
      font-size: 32px;
      line-height: 1.5;
      vertical-align: middle;
      text-align: right;

    }
    .at-icon {
      color: @textColor;
    }
    slider {
      margin: 0;
    }
  }
}

.placeholder {
  color: @textColor;
}

.submit-line {
  margin-right: 32px;
  margin-top: 30px;
}

.at-form {
  border-bottom: none !important;
}

.task-item {
  padding-left: 15px;
  background-color: rgba(55, 55, 55, 0.05);
  padding-bottom: 4px;
  &.root {
    border-bottom: 2px solid #fff;
  }
  .title-bar {
    display: flex;
    padding: 20px 10px;
    .tag {
      border: 1px solid @bgColor;
      color: #fff;
      padding: 3px 10px;
      font-size: 26px;
      border-radius: 10px;
      line-height: 56px;
      &.tag-level-5 {
        background-color: #ffccc7;
      }
      &.tag-level-4 {
        background-color: #ffd8bf;
      }
      &.tag-level-3 {
        background-color: #ffe7ba;
      }
      &.tag-level-2 {
        background-color: #f4ffb8;
      }
      &.tag-level-1 {
        background-color: #b5f5ec;
      }
    }
    .title {
      flex: 1;
      margin-left: 10px;
      font-size: 30px;
      line-height: 1.9;
    }
    .percentage {
      font-size: 30px;
      line-height: 1.9;

    }
  }
}
