@import "varible";

.primary-text {
  color: @mainColor !important;
}

.error-text {
  color: @errorColor !important;;
}

.warning-text {
  color: @warnColor !important;;
}

.button {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  text-align: center;
  color: #fff;
  padding: 0;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  text {
    color: #fff;
    font-size: 30px;
    line-height: 1.1;
  }
  &.primary {
    background-color: @mainColor;
  }
  &.warning {
    background-color: @warnColor;
  }
  &.error {
    background-color: @errorColor;
  }
  &.ghost {
    background-color: inherit;
  }
}

.wx-switch-input {
  width: 100px !important;
  height: 60px !important;
}

.wx-switch-input::before {
  width: 98px !important;
  height: 60px !important;
}

.wx-switch-input::after {
  width: 58px !important;
  height: 58px !important;
}

.wa-form-item {
  padding: 24px 0;
  background-color: #FFF;
  color: #333;
  border-bottom: 1PX #e2ecf4 solid;
  .wa-form-item-container {
    display: flex;
    align-items: center;

    .label {
      margin-right: 16px;
      width: 172px;
      font-size: 32px;
      line-height: 1.5;
      vertical-align: middle;
      text-align: left;

    }

    .value {
      flex: 1;
      display: inline-block;
      padding-right: 18px;
      font-size: 32px;
      line-height: 1.5;
      vertical-align: middle;
      text-align: right;

    }
    .at-icon{
      color:@textColor;
    }
    slider{
      margin:0;
    }
  }
}
.placeholder{
  color:@textColor;
}
.submit-line{
  margin-right: 32px;
  margin-top: 30px;
}
.at-form{
  border-bottom: none !important;
}
